<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="ISO-8859-1">
<title>Servico</title>
<link type="text/css" rel="stylesheet" href="../css/style.css"/>
<script type="text/javascript" src="../scripts/lib/angular.min.js"></script>
<script type="text/javascript" src="scripts/scripts_insert.js?version=1.0"></script>
</head>
<body ng-controller="controller">
	<p>Cadastro de Servico</p>
	<table>
		<tr>
			<td>Nome</td>
			<td><input type="text" name="nome" ng-model="nome"></td>
		<tr>
		<tr>
			<td colspan="2"><button type="button" ng-click="salvar()">Save</button></td>
		</tr>
	</table>
	<a href="../index.html">[ Home ]</a> <a href="servico_list.html">[ Lista ]</a>
</body>
</html>